* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */

}

#root {
  width: 100%;
  height: 100%;
}

.app-container {
  /* display: flex; */
  height: 100vh;
  width: 100%;
  min-width: 100vw; /* Ensure minimum viewport width */
}